@model HUMAN_RESOURCES_v1.Models.PERMISO

@{
    ViewBag.Title = "Delete";
}


<br />
<br />
<br />

<h3>ESTA SEGURO DE QUE QUIERE ELIMINAR ESTE REGISTRO </h3>
<h5>RECUERDE QUE NO HAY RECUPERACION DE DATOS</h5>
<br />
<br />


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio_permiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio_permiso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin_permiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin_permiso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario_permiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario_permiso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR PERMISO" class="btn btn-warning" /> |
            @Html.ActionLink("Volver a Lista", "Index", null, htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    }
</div>
