@model IEnumerable<HUMAN_RESOURCES_v1.Models.PERMISO>

@{
    ViewBag.Title = "PermisosTomados";
}

<br />
<br />
<br />

<h2>Permisos Tomados</h2>

<br />
<br />
<br />


<table>
    <tr>
        <th class="col-md-8">
            <label class="alert-success">BUSCAR MEDIANTE NOMBRE</label><br /><br />
            <form method="post">
                <input type="text" name="Nombusqueda" placeholder="NOMBRE A BUSCAR" />
                <input type="submit" value="BUSCAR" class="btn-warning" />
            </form>
            <br />
        </th>

    </tr>
</table>


<br />
<br />
<br />





<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio_permiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin_permiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario_permiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio_permiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_fin_permiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentario_permiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLEADO.nombre)
            </td>
            
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Volver a la Lista", "Index", null, htmlAttributes: new { @class = "btn btn-danger" })
</div>