<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Human Resources", "Bienvenida", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Bienvenida", "Home")</li>
                    <li>@Html.ActionLink("Departamentos", "Index", "DEPARTAMENTOS")</li>
                    <li>@Html.ActionLink("Cargos", "Index", "CARGOS")</li>
                    <li>@Html.ActionLink("Empleados", "Index", "EMPLEADOS")</li>
                    <li>@Html.ActionLink("Salidas Empleados", "Index", "SALIDA_EMPLEADOS")</li>
                    <li>@Html.ActionLink("Nomina", "Index", "NOMINAS")</li>
                    <li>@Html.ActionLink("Permisos", "Index", "PERMISOS")</li>
                    <li>@Html.ActionLink("Licencias", "Index", "LICENCIAS")</li>
                    <li>@Html.ActionLink("Vacaciones", "Index", "VACACIONES")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Human Resources</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
