@model IEnumerable<HUMAN_RESOURCES_v1.Models.VACACIONE>

@{
    ViewBag.Title = "Index";
}

<h2>ASIGNAR VACACIONES </h2>

<br />
<br />

<p>
    @Html.ActionLink("ASIGNAR VACACIONES", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio_vacaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin_vaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario_vacaiones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_inicio_vacaciones)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_fin_vaciones)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.comentario_vacaiones)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMPLEADO.nombre)
    </td>
    <td class="btn-group btn-group-sm col-lg-3">
        @Html.ActionLink("Editar", "Edit", new { id = item.id_vacaciones }, htmlAttributes: new { @class = "btn btn-warning" })
        @Html.ActionLink("Detalles", "Details", new { id = item.id_vacaciones }, htmlAttributes: new { @class = "btn btn-success" })
        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_vacaciones }, htmlAttributes: new { @class = "btn btn-danger" })
        
    </td>
</tr>
    }

</table>
<p>
    @Html.ActionLink("VOLVER A LA LISTA", "Index", "EMPLEADOS", null, htmlAttributes: new { @class = "btn btn-danger" })
</p>