@model HUMAN_RESOURCES_v1.Models.EMPLEADO

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Empleado</h2>

<div>
    <h4>Empleado Seleccionado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARGO.nombre_cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARGO.nombre_cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO.nombre_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO.nombre_departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALIDA_EMPLEADOS.tipo_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALIDA_EMPLEADOS.tipo_salida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_empleado },htmlAttributes:new { @class="btn btn-warning"})
    @Html.ActionLink("Volver a Lista", "Index",null,htmlAttributes:new {@class="btn btn-danger" })
</p>
