@model IEnumerable<HUMAN_RESOURCES_v1.Models.EMPLEADO>

@{
    ViewBag.Title = "EntradaEmp";
}
<br />
<br />

<h3>Entrada de Empleados por Fecha</h3>
<br />
<br />

<table>
    <tr>
        <th class="col-md-8">
            <label class="alert-success">BUSCAR MEDIANTE FECHA DE ENTRADA</label><br /><br />
            <form method="post">
                <input type="date" name="date"  required />
                <input type="submit" value="BUSCAR" class="btn-warning" />
            </form>
            <br />
        </th>
       
</table>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARGO.nombre_cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO.nombre_departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALIDA_EMPLEADOS.tipo_salida)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CARGO.nombre_cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTAMENTO.nombre_departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SALIDA_EMPLEADOS.tipo_salida)
            </td>
            
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Volver a la Lista", "Index", null, htmlAttributes: new { @class = "btn btn-danger" })
</div>