@model IEnumerable<HUMAN_RESOURCES_v1.Models.EMPLEADO>

@{
    ViewBag.Title = "Index";
}

<h3>Listado de Empleados</h3>

<p>
    @Html.ActionLink("Crear Nuevo Empleado", "Create",null,htmlAttributes:new {@class="btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.apellido)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.telefono)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.fecha_ingreso)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.salario)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.estatus)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CARGO.nombre_cargo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DEPARTAMENTO.nombre_departamento)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.SALIDA_EMPLEADOS)
                </th>
                <th>Funciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td >
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_ingreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CARGO.nombre_cargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DEPARTAMENTO.nombre_departamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SALIDA_EMPLEADOS.tipo_salida)
                    </td>
                    <td class="btn-group btn-group-sm col-lg-3">
                        @Html.ActionLink("Editar", "Edit", new { id = item.id_empleado }, htmlAttributes: new { @class = "btn btn-warning" })
                        @Html.ActionLink("Detalles", "Details", new { id = item.id_empleado }, htmlAttributes: new { @class = "btn btn-success" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_empleado }, htmlAttributes: new { @class = "btn btn-danger" })
                        @Html.ActionLink("Dar Salida","Create","SALIDA_EMPLEADOS",new { id = item.id_empleado },htmlAttributes: new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>