@model HUMAN_RESOURCES_v1.Models.NOMINA

@{
    ViewBag.Title = "Details";
}

<h3>Detalles Nomina</h3>

<div>
    <h4>Nomina Seleccionada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_nomina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nomina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_total)
        </dd>

    </dl>
</div>
<p class="btn-group">
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_codigo },htmlAttributes:new {@class="btn btn-warning" })
    @Html.ActionLink("Volver a la Lista", "Index",null, htmlAttributes: new {@class="btn btn-danger" })
</p>
