@model IEnumerable<HUMAN_RESOURCES_v1.Models.NOMINA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nomina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto_total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nomina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto_total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_codigo })
        </td>
    </tr>
}

</table>
