@model IEnumerable<HUMAN_RESOURCES_v1.Models.LICENCIA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario_varchar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio_licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin_licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo_licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario_varchar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADO.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_licencia }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_licencia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_licencia })
        </td>
    </tr>
}

</table>
