@model IEnumerable<HUMAN_RESOURCES_v1.Models.LICENCIA>

@{
    ViewBag.Title = "Index";
}


<h2>CREACION DE LICENCIA PARA EMPLEADOS</h2>

<br />
<br />

<p>
    @Html.ActionLink("CREAR LICENCIA", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario_varchar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_inicio_licencia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_fin_licencia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.motivo_licencia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.comentario_varchar)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMPLEADO.nombre)
    </td>
    <td class="btn-group btn-group-sm col-lg-3">
        @Html.ActionLink("Editar", "Edit", new { id = item.id_licencia }, htmlAttributes: new { @class = "btn btn-warning" })
        @Html.ActionLink("Detalles", "Details", new { id = item.id_licencia }, htmlAttributes: new { @class = "btn btn-success" })
        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_licencia }, htmlAttributes: new { @class = "btn btn-danger" })
      
    </td>
</tr>
    }

</table>
<p>
    @Html.ActionLink("VOLVER A LA LISTA", "Index", "EMPLEADOS", null, htmlAttributes: new { @class = "btn btn-danger" })
</p>