@model HUMAN_RESOURCES_v1.Models.SALIDA_EMPLEADOS


@using HUMAN_RESOURCES_v1.Models

@{
    ViewBag.Title = "Create";
}
<center>
    <h3>Crear Salida de Empleado</h3>
    <h5>Empleado Seleccionado: <strong>@ViewBag.Nombre_Empleado  @ViewBag.Apellido_Empleado</strong></h5>
</center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Llene el formulario a continuacion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.LabelFor(model => model.id_emplado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="id_emplado" value="@ViewBag.Id_Empleado" />
                @*@Html.EditorFor(model => model.id_emplado, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.id_emplado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_salida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.tipo_salida, new SelectList(new[] { "Renuncia", "Despido", "Desahucio" }), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipo_salida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.feha_salida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.feha_salida, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.feha_salida, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Salida" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="btn-group">
    @Html.ActionLink("Ver Empleados", "Index", "EMPLEADOS", null, htmlAttributes: new { @class = "btn btn-info" })
    @Html.ActionLink("Ver Salidas", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
</div>
